{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonces{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="my-5">Administration des annonces</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th class="text-center">Réservations</th>
                <th class="text-center">Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ad in paginator.data %}
                <tr>
                    <td>{{ad.id}}</td>
                    <td>{{ad.title}}</td>
                    <td>
                        <img src="{{ad.author.picture}}" alt="Photo de {{ad.author.firstname}}" class="avatar avatar-micro me-2">
                        {{ad.author.fullname}}
                    </td>
                    <td class="text-center">
                        <span class="badge bg-primary rounded">
                            {{ad.bookings | length}}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="badge bg-primary rounded">
                            {{ad.avgRatings | number_format(1, ',', ' ')}}
                        </span>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_admin_ads_edit', {'id': ad.id}) }}" class="text-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('app_admin_ads_delete', {'id': ad.id}) }}" class="text-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ paginator.display() }}
</div>
{% endblock %}
