<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">ScomBNB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_ads_index') }}">Annonces</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_account_logout') }}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_account_register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_account_login') }}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{label}}">
            {% for message in messages %}
                <p>{{ message|raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}